.wp-block-button {
  font-size: 1.6rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:after {
    content: '';
    display: block;
    width: 32px;
    height: 34px;
    margin-left: 0.8rem;
    border-radius: 15px;
    background-image: url(/images/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.is-layout-flex {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  @media (min-width: 768px) {
    flex-direction: row;
  }

}

.is-nowrap {
  flex-wrap: nowrap;
}

.wp-block-group {
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  figure {
    max-width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      height: auto;
    }
  }

  @media (min-width: 768px) {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}